<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedBtnClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{ url }}">{{ title }}</a> <span>{{domain}}</span></h3>
      <p>
        {{numVotes}} Votes,
        by {{author}}
      <a href="{{pathFor 'postPage'}}">{{numComments}} comments</a>
      </p>
      <p>Posted {{ whenSubmitted }}</p>
      {{#if ownPost}}<p><a href="{{pathFor 'postEdit'}}">Edit post</a></p>{{/if}}
    </div>
    <a href="{{ pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>